@import "tailwindcss";

:root {
  --background: rgba(40, 44, 51);
  --foreground: #ffffff;
  --secondary: #ABB2BF;
  --primary: #c778dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(40, 44, 51);
    --foreground: #ffffff;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary); 
  --color-primary: var(--primary);
}

body {
  background: #1a1c21;
  color: var(--foreground);
  font-family: var(--font-fira-code), monospace;
}
